body{
    margin: 0;
    font-family: sans-serif ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1529198792282-ca6752042aa2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80");
    background-size: cover;
    overflow: hidden;
}

h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.clock{
    display: flex;
}

.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    color: white;
    background-color: rgb(46, 86, 129);
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 9px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color:rgb(51, 51, 179);
    opacity: .8;
}

.clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background-color:rgb(51, 51, 179);
    opacity: .8;
}